<template>
<div>
  <h1>kModal component (vue):</h1>
  <br />
  <k-modal :open.sync="openModal1">
    simple modal window content
  </k-modal>
  <k-modal :open.sync="openModal2" :buttons="buttons2" :header="header2" @clickedButton="runButtonAction">
    modal window content with buttons
  </k-modal>
  <a href="#" @click.prevent="showModal1">show simple modal</a>
  <a href="#" @click.prevent="showModal2">show modal with header and buttons</a>
</div>
</template>

<script>
import kModal from '../component/kModal.vue'

export default {
  components: {
    kModal
  },
  data() {
    return {
      openModal1: false,
      openModal2: false,
      header2: 'custom header for modal2',
      buttons2: [
        {
          name: 'ok',
          icon: 'check',
          text: 'OK'
        },
        {
          name: 'cancel',
          text: 'Отмена',
          class: '__ghost'
        }
      ]
    }
  },
  methods: {
    showModal1() {
      this.openModal1 = true
    },

    showModal2() {
      this.openModal2 = true
    },

    runButtonAction(button) {
      if (button === 'ok')
        this.runOk()

      if (button === 'cancel')
        this.runCancel()
    },

    runOk() {
      alert('clicked ok in modal2')
      this.openModal2 = false
    },

    runCancel() {
      this.openModal2 = false
    },
  }
}
</script>
