<template>
<div class="kModal" :class="{ __opened: open }">
  <div class="kModal__window" v-on-clickaway="close">
    <a href="#" class="kModal__close" @click.prevent="close">
      <k-icon glyph="times" title="Закрыть"></k-icon>
    </a>
    <div v-if="header" class="modal__header">
      {{ header }}
    </div>
    <div class="modal__content">
      <slot></slot>
    </div>
    <div v-if="buttons" class="modal__footer">
      <template v-for="button in buttons">
        <k-button :icon="button.icon" :class="button.class" :name="button.name" @click="clickButton(button.name)">
          {{ button.text }}
        </k-button>
      </template>
    </div>
  </div>
</div>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'
import kIcon from 'k-icon'
import kButton from 'k-button'

export default {
  name: 'kModal',
  mixins: [
    clickaway
  ],
  components: {
    kButton,
    kIcon
  },
  props: {
    open: {
      type: Boolean,
      default: false
    },
    header: {
      type: String,
      default: null
    },
    buttons: {
      type: Array,
      default: null
    }
  },
  data () {
    return {
    }
  },
  methods: {
    clickButton(name) {
      this.$emit('clickedButton', name)
    },

    close() {
      if (this.open) {
        this.$emit('update:open', false)
        this.$emit('close')
      }
    },
  }
}
</script>

<style lang="sass" src="./kModal.sass"></style>
