.kModal
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0,0,0,.7)
  z-index: 100

  &.__opened
    display: flex
    -webkit-box-align: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: center
    -webkit-justify-content: center
    -ms-flex-pack: center
    justify-content: center

  &.__fullScreen
    .kModal__window
      width: 100%
      height: 100%
      max-width: none

.kModal__window
  -webkit-box-flex: 0
  -webkit-flex: none
  -ms-flex: none
  flex: none
  min-width: 300px
  max-width: 600px
  margin: 0 auto
  background: #fff
  position: relative
  padding-top: 20px

.kModal__close
  position: absolute
  top: 10px
  right: 10px
  cursor: pointer
  opacity: .7

  &:hover
    opacity: 1  

.modal__header
  padding: 0 20px 20px 20px
  text-align: center
  font-weight: bold

.modal__content
  text-align: center

.modal__footer
  text-align: center
  padding: 20px

  .kButton
    margin-right: 5px
    margin-left: 5px
